body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  color: #757575;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.2;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, p {
  margin: 0;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
  }
}

.navigation__link:hover,
.navigation__link:focus,
.header-contacts__link:hover,
.header-contacts__link:focus {
  color: #2196f3;
}

.section__title,
.principles__title,
.workers__title,
.produkt__title {
  color: #212121;
}

.header {
  position: relative;
}

.navigation {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #2196f3;
}

.menu-button__icon:hover {
  fill: #2196f3;
}

.menu-button__cross:hover {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .menu-button__cross {
  display: none;
}

.menu-button.is-open .menu-button__cross {
  display: block;
}

.menu-button.is-open .menu-button__icon {
  display: none;
}

.menu-container {
  background-color: white;
  font-size: 20px;
}

.menu-container.is-open {
  display: block;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .menu-container.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 88px;
  }
}

@media screen and (min-width: 768px) {
  .menu-container.is-open {
    margin-left: 93px;
  }
}

.navigation-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-list:not(:last-child) {
  margin-bottom: 32px;
}

.navigation-list:last-child {
  margin-bottom: 306px;
}

@media screen and (min-width: 768px) {
  .navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0;
    font-size: 14px;
    color: #212121;
    width: 294px;
  }
  .navigation-list:not(:last-child) {
    margin-bottom: 0;
  }
  .navigation-list:last-child {
    margin-bottom: 0;
  }
}

.navigation-list__link {
  position: relative;
  display: inline-block;
  font-weight: 500;
  color: #212121;
  letter-spacing: 0.02em;
  text-decoration: none;
  vertical-align: middle;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list__link:hover {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .navigation-list__link {
    position: relative;
    display: inline-block;
    font-weight: 500;
    color: var(--title-text-color);
    letter-spacing: 0.02em;
    text-decoration: none;
    vertical-align: middle;
    padding-top: 32px;
    padding-bottom: 32px;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.navigation-list__link--current {
  color: #2196f3;
}

.navigation-list__link--current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
}

.header-contacts__link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  color: #757575;
  text-decoration: none;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .header-contacts__link {
    font-size: 12px;
  }
}

.header-contacts__link:hover, .header-contacts__link:focus {
  color: #2196f3;
}

.header-contacts__link--current {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .header-contacts__link--current {
    color: #757575;
    text-decoration: none;
    font-size: 12px;
  }
}

.header-contacts__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .header-contacts__item {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .header-contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.header-contacts__icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-contacts__icon {
    display: block;
    padding: 0;
    background-size: cover;
    margin-right: 10px;
    fill: #757575;
  }
}

@media screen and (min-width: 768px) {
  .header-contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contacts__link:hover, .header-contacts__link:focus {
    color: #2196f3;
  }
}

.header-contacts__link:hover .header-contacts__icon,
.header-contacts__link:focus .header-contacts__icon {
  fill: #2196f3;
}

.mobile-social {
  margin-top: 64px;
}

@media screen and (min-width: 768px) {
  .mobile-social {
    display: none;
  }
}

.mobile-social__item {
  display: inline-block;
}

.mobile-social__link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #2196f3;
  padding-right: 10px;
}

.mobile-social__link::after {
  content: '';
  position: absolute;
  right: 0;
  width: 1px;
  height: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social__link::after:last-child {
  border: none;
}

.logo__link {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
}

.logo__span--black {
  color: #212121;
}

.logo__span--wright {
  color: #ffffff;
}

.hero {
  text-align: center;
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2f303a;
}

@media screen and (max-width: 1200px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-bottom: 200px;
    padding-top: 200px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero__button:hover {
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
}

.hero__title {
  font-weight: 900;
  color: #ffffff;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: initial;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.6);
          transform: translate(-50%, -50%) scale(0.6);
}

.modal {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

.modal-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-close__icon {
  fill: currentColor;
}

.modal-form {
  padding: 40px;
}

.modal-form__title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin-bottom: 10px;
}

.modal-form__icon {
  position: absolute;
  left: 15px;
  bottom: 14px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 40px;
}

@media screen and (max-width: 480px) {
  .modal-form__input {
    width: 370px;
  }
}

.modal-form__input::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__input:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__input::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  padding: 10px;
  color: #212121;
}

textarea:focus {
  outline: 1px solid #2196f3;
  border-radius: 4px;
}

.modal-form__button {
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: transparent;
  margin-top: 30px;
}

.modal-form__input:focus ~ .modal-form__icon {
  fill: #2196f3;
}

.modal-form__input:focus {
  border-color: #2196f3;
}

@media screen and (min-width: 480px) {
  .confidential-label {
    display: -webkit-box;
  }
}

.confidential-label a {
  margin-left: 5px;
  -webkit-text-decoration: revert;
          text-decoration: revert;
  color: #2196f3;
}

@media screen and (max-width: 480px) {
  .confidential-label a {
    font-size: 12px;
    line-height: 1.17;
  }
}

.checkbox {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.checkbox__icon {
  margin-right: 9px;
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
}

.checkbox__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 480px) {
  .checkbox__text {
    font-size: 12px;
    line-height: 1.17;
  }
}

.checkbox:checked + .checkbox__icon {
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
}

.principles {
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .principles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .principles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.principles__item {
  width: 450px;
  height: 226px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .principles__item {
    width: 354px;
    height: 251px;
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .principles__item {
    width: 270px;
    margin: 0%;
  }
}

.principles__title {
  text-align: start;
  font-weight: 700;
  line-height: 1.42;
  margin-bottom: 10px;
  color: #212121;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .principles__title {
    text-align: start;
  }
}

.principles__tumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
  width: 450px;
  height: 120px;
  padding: 25px 190px;
}

@media screen and (min-width: 768px) {
  .principles__tumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 354px;
    height: 120px;
    padding: 25px 0;
  }
}

@media screen and (min-width: 1200px) {
  .principles__tumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 270px;
    height: 120px;
  }
}

.principles__text {
  font-weight: 400;
  line-height: 1.7;
}

.photo-section {
  display: none;
}

@media screen and (min-width: 1200px) {
  .photo-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.photo-section__thumb {
  position: relative;
}

.photo-section__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.photo-section__text {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.section__padding-reset {
  padding-bottom: 0px;
}

.section--background {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .workers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .workers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.workers__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}

.workers__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .workers__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .workers__item {
    width: 270px;
    height: 428px;
    margin: 0;
  }
}

.workers__text {
  font-size: 16px;
  margin-bottom: 16px;
}

.workers__thumb {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 36px;
  background-color: #ffffff;
  border-radius: inherit;
}

.workers-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.workers-social__link {
  width: 44px;
  height: 44px;
  margin: 0;
  padding: 12px;
  color: #afb1b8;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.workers-social__link:hover, .workers-social__link:focus {
  background-color: #2196f3;
}

.workers-social__link:hover .workers-social__icon, .workers-social__link:focus .workers-social__icon {
  fill: #ffffff;
}

.workers-social__item:not(:last-child) {
  margin-right: 10px;
}

.workers-social__icon {
  fill: currentColor;
}

.clients {
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.clients__item {
  display: inline-block;
  width: 210px;
  height: 92px;
  width: calc((100% - 4 * 15px) / 2);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
    height: 92px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
    height: 92px;
    margin: 0;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  padding: 16px 32px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
}

.clients__icon {
  margin: 0;
  padding: 0;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
}

.footer__container {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-contact {
  font-style: normal;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-right: 165px;
  -ms-flex-line-pack: center;
      align-content: center;
  display: contents;
}

.footer-contact__tel {
  display: contents;
}

.footer__info {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__info {
    text-align: start;
  }
}

.address {
  display: inline-block;
  margin-top: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .address {
    text-align: start;
  }
}

.address__text {
  font-style: normal;
  line-height: 1.5;
  color: #ffffff;
  text-align: start;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
  padding-right: 124px;
}

.footer-social {
  padding-top: 60px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-social {
    padding-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    padding-top: 12px;
    margin-left: 70px;
  }
}

.footer-social__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-social__title {
    text-align: start;
  }
}

.footer-social__pages {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
}

.footer-social__link {
  width: 44px;
  height: 44px;
  margin: 0;
  padding: 12px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: #2196f3;
}

.footer-social__icon {
  fill: currentColor;
}

.footer-social__list {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-social__list:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.footer-form-section {
  position: relative;
  padding-top: 72px;
}

@media screen and (min-width: 1200px) {
  .footer-form-section {
    margin-left: 93px;
    padding-top: 12px;
  }
}

.footer-form-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-form-title {
    text-align: start;
  }
}

.footer-form {
  display: -ms-grid;
  display: grid;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-form__input {
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  max-width: 450px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.footer-form__input:focus {
  border: 1px solid #ffffff;
  outline: none;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer-form__input {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    margin-right: 12px;
  }
}

.footer-form__button {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  border-radius: 4px;
  padding: 10px 29px;
  cursor: pointer;
  border: transparent;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.footer-form__icon {
  fill: #ffffff;
  margin-left: 10px;
  position: absolute;
  top: 13px;
  right: 28px;
}

.footer-form__text {
  text-align: start;
  margin-right: 10px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.filter__button {
  border: transparent;
  display: inline-block;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f5f4fa;
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  vertical-align: middle;
  padding: 6px 32px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
  margin-bottom: 15px;
}

.filter__button:hover, .filter__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.section__title--visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: 1px;
}

@media screen and (min-width: 768px) {
  .galery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .galery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.galery__item {
  margin-bottom: 30px;
  background: #ffffff;
}

@media screen and (min-width: 768px) {
  .galery__item {
    width: 354px;
    height: 540px;
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .galery__item {
    width: 370px;
    height: 404px;
    margin-bottom: 30px;
  }
  .galery__item:nth-last-child(3n + 1) {
    margin-right: 0;
  }
  .galery__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.galery__link {
  cursor: pointer;
}

.galery__link:hover, .galery__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.produkt {
  display: block;
}

.produkt__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 8px;
  color: #212121;
}

.produkt__descript {
  color: #757575;
}

.produkt__thumb {
  position: relative;
  overflow: hidden;
}

.produkt__text {
  position: absolute;
  width: 322px;
  height: 168px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 18px;
  line-height: 1;
  color: #ffffff;
}

.produkt__overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 450px;
  height: 294px;
}

@media screen and (min-width: 768px) {
  .produkt__overlay {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .produkt__overlay {
    width: 370px;
    height: 294px;
  }
}

.produkt__info {
  padding: 20px 24px;
  margin: 0;
  border: 1px solid #eeeeee;
}

.galery__link:hover .produkt__overlay,
.galery__link:focus .produkt__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */