.clients {
    display: flex;
    @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    margin: -15px;
    }
    
}
  
// .clients__item:not(:last-child) {
//     margin-right: 30px;
// }
.clients__item {
    @media screen and (max-width: 480px) {
        width: calc((100% - 4 * 15px) / 2);
        margin: 15px;
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
        width: calc((100% - 6 * 15px) / 3);
        margin: 15px;
    }

    

    // @media screen and (min-width: 1200px) {
    //     justify-content: space-between;
    // }
}

.clients__link {
        display: flex;
        justify-content: center;
        padding: 16px 32px;
        cursor: pointer;
        color: #afb1b8;
        border: 1px solid #afb1b8;
        border-radius: 4px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
        border-color: $accent-color;
        }
       
     
}
.clients__icon {

    margin: 0;
    padding: 0;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
    fill: $accent-color;
}
