.filter {
    // display: flex;
    // justify-content: center;
    // margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    
  
}
.filter__button {
        border: transparent;
        display: inline-block;
        color: $title-text-color;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        background-color: #f5f4fa;
        font-family: inherit;
        cursor: pointer;
        border-radius: 4px;
        vertical-align: middle;
        padding: 6px 32px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
          box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
          color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
        color: $wright-color;
        background-color: $accent-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
        }
        margin-right: 8px;
        margin-bottom: 15px;
        
}

.filter__item:not(:last-child) {
    margin-right: 8px;
}

  
.section__title--visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: 1px;
}