.footer-form-section {
    position: relative;
    margin-top: 72px;
    
    @media screen and (min-width: 1200px) {
        margin-left: 93px;
        margin-top: 12px;
    }
    
}
.footer-form-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    // margin-bottom: 20px;
    color: $wright-color;
    margin-bottom: 20px;
    text-align: center;
    @media screen and (min-width: 1200px) {
        text-align: start;
    }
}

.footer-form {
display: grid;
// padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
    display: flex;
    
    }
}

.footer-form__input {
    // width: 358px;
    // height: 50px;
    // padding-top: 15px;
    // padding-bottom: 15px;
    // padding-left: 16px;
    background-color: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    max-width: 450px;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    // margin-top: 20px;
    margin-bottom: 20px;
        &:focus {
        border: 1px solid $wright-color;
        outline: none;
        color: $wright-color;
        }
    @media screen and (min-width: 768px) {
        width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (min-width: 1200px) {
        margin-right: 12px;
    }
            
        
    

    
        // @media screen and (min-width: 481px) and (max-width: 768px) {
        //     width: 450px;
        //     height: 50px;
        //     margin-left: auto;
        //     margin-right: auto;
        //     padding-top: 15px;
        //     padding-bottom: 15px;
        //     margin-top: 20px;
        //     margin-bottom: 20px;
        // }
}
.footer-form__button {
    position: relative;
    align-items: center;
    margin-left: 12px;
    width: 200px;
    height: 50px;
    background-color: $accent-color;
    border-radius: 4px;
    padding: 10px 29px;
    cursor: pointer;
    border: transparent;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: $wright-color;
    margin-left: auto;
    margin-right: auto;

}
.footer-form__icon {
    fill: $wright-color;
    margin-left: 10px;
    position: absolute;
    top: 13px;
    right: 28px;
}
.footer-form__text {
    text-align: start;
    margin-right: 10px;
}
