.footer {
    padding: 60px 0;
    background-color: #2f303a;
}
.footer__container {
    display: flex;
    align-items: baseline;
}
.footer-contact {
    font-style: normal;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  
    &__tel {
    display: inline-block;
  }
}
.address {
    display: inline-block;
    margin-top: 20px;
}
.address__text {
    font-style: normal;
    line-height: 1.5;
    color: $wright-color;
  }
.address__item:not(:last-child) {
    margin-bottom: 9px;
  }

   
  
.footer-social {
    margin-left: 70px;
}
.footer-social__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $wright-color;
    margin-bottom: 20px;
}
.footer-social__pages {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-social__link {
        width: 44px;
        height: 44px;
        margin: 0;
        padding: 12px;
        color: $wright-color;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &:hover,
            &:focus {
            background-color: $accent-color;
            }
}
  
.footer-social__icon {
    fill: currentColor;
}
  
.footer-social__list {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
        &:not(:last-child) {
        margin-right: 10px;
        }
}

  