.galery {
    // display: flex;
    // flex-wrap: wrap;
    @media screen and (max-width: 480px) {
    
    }
}
.galery__item {
        // width: 370px;
        margin-bottom: 30px;
        // margin-right: 30px;
        background: #ffffff;
        @media screen and (max-width: 480px) {
        max-width: 450px;
        width: 100%;
        }
    //   &:nth-last-child(3n + 1) {
    //     // margin-right: 0;
    //   }
    //   &:nth-last-child(-n + 3) {
    //     // margin-bottom: 0;
    //   }

}
.galery__link {
        cursor: pointer;
        &:hover,
        &:focus {
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}


.produkt {
    display: block;
}
.produkt__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 8px;
    color: $title-text-color;
}
.produkt__descript {
    color: $text-color;
}
.produkt__thumb {
    position: relative;
    overflow: hidden;
}
.produkt__text {
    position: absolute;
    width: 322px;
    height: 168px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    line-height: 1;
    color: $wright-color;
}
.produkt__overlay {
    position: absolute;
    top: 0;
    left: 0;
    // width: 370px;
    // height: 294px;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (max-width: 480px) {
    max-width: 450px;
    height: 294px;
    }
}
.produkt__info {
    padding: 20px 24px;
    margin: 0;
    border: 1px solid #eeeeee;
}


.galery__link:hover .produkt__overlay,
.galery__link:focus .produkt__overlay {
    transform: translateY(0);
}