.hero {
    text-align: center;
    // padding-bottom: 200px;
    // padding-top: 200px;
    // max-width: 1600px;
    // height: 600px;
    // margin-left: auto;
    // margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2f303a;
    
    @media screen and (max-width: 480px) {
    padding-top: 118px;
    padding-bottom: 118px;
    }
}  
.hero__button:hover {
    color: $title-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button {
    display: inline-block;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: $wright-color;
    background-color: $accent-color;
    font-family: inherit;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: transparent;
}
  
.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: $wright-color;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
    @media screen and (max-width: 480px) {
        font-size: 26px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }
}
