.modal {
    // height: 581px;
    // width: 528px;
    background-color: $wright-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 999;
    // @media screen and (max-width: 480px) {
    width: 450px;
    height: 609px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    // }
    @media screen and (min-width: 768px) {
    height: 581px;
    width: 528px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    }
}
  
.modal-close {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    cursor: pointer;
    background-color: $wright-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
}  
.modal-close__icon {
    fill: currentColor;
}


.modal-form {
    padding: 40px;
}
.modal-form__title {
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: $title-text-color;
    margin-bottom: 12px;
}
.modal-form__field {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 10px;
}
  
.modal-form__icon {
    position: absolute;
    left: 15px;
    bottom: 14px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 1);
}
     
.modal-form__input {
    // width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 40px;
    @media screen and (max-width: 480px) {
        width: 370px;
    }
  
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
        }
}

textarea {
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    padding: 10px;
    color: $title-text-color;
  
    &:focus {
    outline: 1px solid $accent-color;
    border-radius: 4px;
    }
}
.modal-form__button {
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: $wright-color;
    background-color: $accent-color;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    border: transparent;
    margin-top: 30px;
}
  
.modal-form__input:focus ~ .modal-form__icon {
    fill: $accent-color;
}
.modal-form__input:focus {
    border-color: $accent-color;
}

  

.confidential-label {
    // display: flex;
    // justify-content: center;
    // align-items: center; 
    @media screen and (min-width: 480px) {
        display: -webkit-box;
    } 
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center; 
    }
}
  
.confidential-label a {
    margin-left: 5px;
    text-decoration: revert;
    color: $accent-color;
    @media screen and (max-width: 480px) {
        font-size: 12px;
        line-height: 1.17;
    }
}

.checkbox {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.checkbox__icon {
        margin-right: 9px;
        display: inline-block;
        width: 16px;
        height: 15px;
        border: 2px solid #212121;
        border-radius: 4px;
}
      
.checkbox__text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: $text-color;
    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.7;
    }

}

.checkbox:checked + .checkbox__icon {
    background-image: url('../images/icon-check.svg');
    background-size: contain;
    background-origin: border-box;
    border-color: $accent-color;

}