
.principles {
    margin: -15px;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        
    }
    
    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: space-between;
    }

}
.principles__item {
    max-width: 450px;
    height: 226px;
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
        width: 354px;
        height: 251px;
        width: calc((100% - 4 * 15px) / 2);
        margin: 15px;
       
    }
    @media screen and (min-width: 1200px) {
        width: 270px;
        margin: 0%;
    }
}
.principles__title {
    text-align: start;
    font-weight: 700;
    line-height: 1.42;
    margin-bottom: 10px;
    color: $title-text-color;
    text-align: center;
    @media screen and (min-width: 768px) {
    text-align: start;
    }
    
}
.principles__tumb {
    display: flex;
    justify-content: center;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    border-radius: 4px;
    max-width: 450px;
    height: 120px;
    // padding: 25px 190px;
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        width: 354px;
        height: 120px;
        padding: 25px 0;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: center;
        width: 270px;
        height: 120px;
    }
    
}
.principles__text {
    font-weight: 400;
    line-height: 1.7;
}
  

// .principles__item:not(:last-child) {
//     margin-right: 30px;
// }