.section--background {
    background-color: #f5f4fa;
}
// .workers {
//         display: flex;
//         justify-content: space-between;
// }
.workers__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        margin-bottom: 10px;
}
.workers__item {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        @media screen and (max-width: 480px) {
        margin-bottom: 30px; 
        }
}
.workers__text {
        font-size: 16px;
        margin-bottom: 16px;
}
.workers__thumb {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 36px;
        background-color: $wright-color;
        border-radius: inherit;
 
}

.workers-social {
        // display: flex;
        // justify-content: center;
        @media screen and (max-width: 767px) {
                display: inline-flex;
        }
}
.workers-social__link {
        width: 44px;
        height: 44px;
        margin: 0;
        padding: 12px;
        color: #afb1b8;
        background-color: $wright-color;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        

}  
.workers-social__link:hover, .workers-social__link:focus {
        background-color: $accent-color;
}
.workers-social__link:hover .workers-social__icon, .workers-social__link:focus .workers-social__icon {
        fill: $wright-color;
}
.workers-social__item:not(:last-child) {
        margin-right: 10px;
}

.workers-social__icon {
        fill: currentColor;
} 