body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: #ffffff;
    color: $text-color;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.2;
    padding: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    display: block;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
h1, h2, h3, p {
    margin: 0;
}
.section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;

}
  .container {
    // width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;

    @media screen and (max-width: 480px){
        max-width: 480px;
        width: 100%;
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
        max-width: 768px;
        width: 100%;
    }

    @media screen and (min-widht: 769px) {
        max-width: 1200px;
        width: 100%;
    }
}
  .section {
    // padding-top: 94px;
    // padding-bottom: 94px;
    @media screen and (max-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media screen and (min-width: 1200px){
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
.navigation__link:hover,
.navigation__link:focus,
.header-contacts__link:hover,
.header-contacts__link:focus {
    color: $accent-color;
}
.section__title,
.principles__title,
.workers__title,
.produkt__title {
    color: $title-text-color;
}